.Backdrop{
    width: 100%;
    height: 100%;;
    position: fixed;
    z-index: 100%;
    left:0;
    top: 0;
    background-image: url("https://doggymomblog.files.wordpress.com/2014/10/animal-bond-photo.jpg");
    background-repeat: no-repeat;
}