.NavigationItems{
    font-size:25px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color:darkolivegreen; 
    border-color:black;
    border-style: double;
    border-width: 10px;
    
  font-family: Georgia, "Times New Roman", Times, serif; 


}